/************** Custome css *****************/

/****** Genaral Color ******/
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

:root {
    --primary: #6d28d9;
    --tertiare: #a855f7;
    --secondary: rgb(75 85 99);
    --text-hover: rgb(126 34 206);
    --bg-hover: rgb(126 34 206);
    --text-gray: rgb(156 163 175);
    --text-light: rgb(107 114 128);
    --text-white: rgb(255 255 255);
    --text-black: rgb(0 0 0);
    --border-gray: rgb(209 213 219);
    --btn-gradient: linear-gradient(to right, #dc2626, #ec4899);
    --btn-gradient-hover: linear-gradient(to right, #ec4899, #dc2626);
    --bg-gradient: linear-gradient(to right, #9f7aea, #fc8181);
    --border-raduis: 9999px;
    --color-filter-hover: hue-rotate(270deg) brightness(0) saturate(100%) invert(29%) sepia(75%) saturate(300%) hue-rotate(250deg) brightness(88%) contrast(100%);
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}

/* header styles */

.header {
    display: flex;
    justify-content: space-between;
}

.header .brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .brand .gradient-box {
    width: 40px;
    height: 40px;
    background: var(--bg-gradient);
    border-radius: 8px;
    cursor: pointer;
}

.header .brand .logo-text a {
    font-size: 30px;
    line-height: 36px;
    color: var(--secondary);
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.header .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 auto;
}

.header .links .link {
    text-decoration: none;
    color: var(--secondary);
    font-size: 16px;
}

.header .links .link:hover {
    color: var(--text-hover);
}

.header .links .cart {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--primary);
    padding: 12px 16px;
    border-radius: var(--border-raduis);
    color: var(--text-white);
    cursor: pointer;
}

.header .links .cart:hover {
    background: var(--bg-hover);
}

.header .links .cart img {
    margin-right: 8px;
    width: 22px;
    height: 22px;
    filter: brightness(0) invert(1);
}

/* hero styles */
.hero {
    padding: 78px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.hero-text,
.hero-img {
    flex: 1;
    box-sizing: border-box;
}

.hero .hero-text {
    max-width: 45%;
}

.hero .hero-img {
    display: flex;
    justify-content: end;
    max-width: 55%;
}

.hero .hero-text h1 {
    font-family: 'Times New Roman', serif;
    font-size: 3rem;
    color: var(--secondary);
    margin-bottom: 1rem;
    text-align: left;
    font-weight: 600;
}

.hero .hero-text p {
    text-transform: uppercase;
    color: var(--secondary);
    letter-spacing: 0.05em;
    text-align: left;
    margin-bottom: 0.5rem;
}

.hero .hero-text a {
    background: var(--btn-gradient);
    border-radius: var(--border-raduis);
    padding: 1rem 2rem;
    color: #f9fafb;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 1.25rem 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;
}

.hero .hero-text a:hover {
    background: var(--btn-gradient-hover);
}


.hero .hero-img img {
    width: 700px;
}

/* men's collection */
.collection {
    margin: 30px 0;
    padding-bottom: 30px;

}

.collection-header {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 0 30px 0 10px;
}

.collection-header h2 {
    font-size: 1.875rem;
    color: var(--secondary);
    font-weight: 200;
}

.collection-header a {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    color: var(--secondary);
    text-decoration: none;
}

.collection-header a>img {
    margin-left: 8px;
    transition: filter 0.3s ease;
}

.collection-header a:hover>img {
    filter: var(--color-filter-hover);
}

.collection-header a:hover {
    color: var(--text-hover);
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2.5rem;
    padding: 0 30px 0 10px;
}

.product-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0.6rem;
}

.product-card img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.product-info {
    padding: 1.25rem;
}

.product-info h3>a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: 200;
}

.color-options {
    display: flex;
    gap: 0.5rem;
    margin: 0.75rem 0;
}

.color-options div {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.bagde-black {
    background: #000;
}

.bagde-blue {
    background: #1d4ed8;
}

.bagde-white {
    background: #fff;
}

.bagde-red {
    background: #e11d48;
}

.bagde-green {
    background: #16a34a;
}

.size-options {
    display: flex;
    gap: 0.5rem;
    margin: 0.75rem 0;
}

.size-options a {
    border: 2px solid #d1d5db;
    color: #6b7280;
    border-radius: 0.375rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    text-decoration: none;
    transition: border-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.size-options a:hover {
    border-color: #d1d5db;
    color: #6b7280;
}

.product-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.product-buttons a,
.product-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-raduis);
    padding: 10px;
    font-size: 0.875rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.product-buttons a img,
.product-buttons button img {
    margin-right: 8px;
    width: 22px;
    height: 22px;
    filter: brightness(0) invert(1);
}

.product-buttons button.add-to-cart {
    background: var(--btn-gradient);
    transition: background 0.3s ease;
}

.product-buttons button.add-to-cart:hover {
    background: var(--btn-gradient-hover);
}

.product-buttons a.view-details {
    background: var(--primary);
    transition: background 0.3s ease;
}

.product-buttons a.view-details:hover {
    background-color: var(--tertiare);
}


/* newsletter section */
.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.subscribe-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
}

.subscribe-content {
    padding: 30px 20px;
    color: white;
    width: 100%;
    height: auto;
    background: linear-gradient(to right, black, #6b46c1, #9f7aea);
}

.contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subscribe-content .contents h2 {
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 10px;
}

.subscribe-content .contents p {
    line-height: 25px;
    padding-bottom: 20px;
    font-size: 16px;
}

.subscribe-form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.subscribe-form input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: var(--secondary);
}

.subscribe-form button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e74c3c;
    color: var(--text-white);
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.subscribe-image {
    width: 40%;
    display: none;
    justify-content: left;
    align-items: center;
    padding-right: 80px;
}

.subscribe-image img {
    width: 100%;
    height: auto;
}


/* Footer Section */
.footer {
    padding: 2rem 0;
}

.footer-content {
    border-top: 2px solid #d1d5db;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 0.875rem;
    color: #4b5563;
    padding-top: 20px;
}

.footer-links {
    margin-bottom: 1rem;
}

.footer-link {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #4b5563;
}

.footer-link:hover {
    text-decoration: underline;
}

/* Cart style */


.cart-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    gap: 1rem;
    padding: 0 30px 0 10px;
}

.product-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.product-list li,
.cart-list li {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    border: 1px solid #ddd;
    box-shadow: 0 .1rem .4rem var(--primary);
    margin-bottom: 20px;
    border-radius: 5px;
    gap: 20px;
}

.banner-panier {
    padding: 30px 0;
}

.banner-panier img {
    width: 100%;
}

.cart h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--secondary);
    padding: 0 20px;
}

.item-info span {
    margin-right: 15px;
    color: var(--secondary);
}

.item-info {
    border-bottom: #000 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.item-info span:first-child {
    width: 60%;
}

.item-info span:nth-child(2) {
    width: 20%;
    text-align: center;
}

.item-info span:last-child {
    width: 20%;
    text-align: end;
}

.item-actions,
.cart-actions {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    padding: 0 20px;
    /* Space between buttons */
}

.item-actions button {
    background: red;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    color: var(--text-white);
    cursor: pointer;
}

.item-actions button:hover {
    background: var(--btn-gradient);
}

.action-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #0056b3;
}

.empty-cart-message {
    font-weight: bold;
    color: red;
    display: none;
}

/* contact form */
.contact-us {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    gap: 1rem;
    padding: 0 30px 0 10px;
   
    align-items: center;
    padding: 20px;
}

.contact h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: var(--secondary);
    text-align: center;
    font-weight: 700;
}

.contact-us .contact-img {
    width: 100%;
}

.contact-us .contact-img img {
    background: transparent;
    width: 80%;
}

.contact-us .contact-form {
    width: 100%;
}

.contact-us .contact-form form {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 6px rgba(0, 0, 0, 0.1);}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: var(--primary);
}


.contact-form textarea {
    height: 150px;
}


.contact-form button {
    padding: 10px 20px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button:hover {
    background: var(--bg-gradient);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .contact-form {
        padding: 15px;
    }

    .contact-form h2 {
        font-size: 20px;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 8px;
        font-size: 14px;
    }

    .contact-form button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .contact-form {
        padding: 10px;
    }

    .contact-form h2 {
        font-size: 18px;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 6px;
        font-size: 12px;
    }

    .contact-form button {
        padding: 6px 12px;
        font-size: 12px;
    }
}

/* breadcrumb styles */
.breadcrumb {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    margin-right: 10px;
    color: #666;
}

.breadcrumb .separator {
    margin: 0 10px;
    color: #666;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .breadcrumb {
        padding: 5px;
    }

    .breadcrumb a {
        font-size: 14px;
        margin-right: 5px;
    }

    .breadcrumb span {
        font-size: 14px;
    }
}

/* responsive css */

/* Téléphone Petit */
@media only screen and (max-width: 350px) {
    .header .links {
        gap: 1px;
    }

    .header .links .cart {
        padding: 8px 12px;
    }

    .header .links .cart img {
        margin-right: 5px;
        width: 20px;
        height: 20px;
    }

    .header .links .link {
        font-size: 14px;
    }
}

/* Téléphone Moyen */

@media only screen and (max-width: 360px) {
    .banner-panier img {
        height: 100px;
    }

    .header .links .cart .badge1 {
        display: none;
    }

    .collection-header a>img {
        margin-left: 6px;
    }
}

@media only screen and (min-width: 361px) {
    .header .links .cart .badge1 {
        display: block;
    }

    .header .links .cart .badge {
        display: none;
    }
}



@media only screen and (max-width: 575px) {
    .subscribe-section {
        margin: 0;
    }

    .subscribe-content {
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 767px) {

    .cart-list .item-actions {
        flex-direction: column;
        align-items: flex-start;
    }


    .item-actions button {
        margin-top: 20px;

    }

    .collection-header a {
        font-size: 16px;
    }

    .collection-header h2 {
        font-size: 1.4rem;
    }

    .header {
        flex-direction: column;
        gap: 5px;
    }

    .header .links {
        gap: 20px;
    }

    .hero {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }

    .hero .hero-img {
        justify-content: center;
        align-items: center;
        padding: 0 30px 0 10px;
        display: flex;
        max-width: 100%;
    }

    .hero .hero-text {
        max-width: 100%;
        padding: 0 30px 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero .hero-img img {
        width: 600px;
    }

    .container {
        width: 100%;
        margin: 0;
    }

    .hero .hero-text h1 {
        text-align: center;
        font-size: 2.6rem;
    }

    .banner-panier img {
        height: 200px;
    }

}


/* Tablette */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .hero .hero-text h1,
    p {
        align-self: flex-start;
        text-align: left;
    }

    .hero .hero-text a {
        align-self: flex-start;
    }

    .hero .hero-text h1 {
        font-size: 2.6rem;
    }
}

@media only screen and (max-width: 767px) {

    .product-grid,
    .cart-list {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 30px 0 25px;
    }

    .contact-us {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-copy {
        margin-top: 10px
    }
}

@media only screen and (min-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 30px 0 30px;
    }

    .cart-list {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 30px 0 30px;
    }

    .contact-us {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-panier img {
        height: 300px;
    }
}

@media only screen and (min-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 10px 30px 0 20px;
    }

    .cart-list {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 30px 0 20px;
    }

    .contact-us {
        grid-template-columns: repeat(2, 1fr);
    }

    .subscribe-image {
        display: block;
    }

    .subscribe-content {
        background: linear-gradient(to right, black, #6b46c1, #9f7aea, #ffffff);
        width: 60%;
        height: 90vh;
        padding: 30px;
    }

    .contents {
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        width: 95%;
    }

    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .cart-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-us {
        grid-template-columns: repeat(2, 1fr);
    }
}